name: opencode

on:
  issue_comment:
    types: [created]

jobs:
  opencode:
    # Run only if the comment body contains /oc or /opencode
    if: |
      contains(github.event.comment.body, '/oc') ||
      contains(github.event.comment.body, '/opencode')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Run opencode
        uses: sst/opencode/github@latest
        env:
          AZURE_API_KEY: ${{ secrets.AZURE_API_KEY }}
          BASE_URL: ${{ secrets.AZURE_RESOURCE_NAME }}
        with:
          model: gpt-4.1-mini
